.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
}

.card-2 {
  display: flex;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
}

.card-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
}

/* Write your code here. */

.description {
  padding: 2%;
}

h1 {
  color: #326a9d;
  font-size: 26px;
}

button {
  color: #326a9d;
  font-size: 10px;
  background-color: white;
  font-weight: bold;
  padding: 5px;
  border-radius: 3px;
  border-color: #326a9d;
}
p {
  color: #64748b;
  font-size: 12px;
}
.card-1 {
  border-width: 1px;
  margin: 2%;
  border-style: solid;
  border-color: #cbced2;
  list-style: none;
  border-radius: 5px;
}
.card-2 {
  border-width: 1px;
  margin: 2%;
  border-style: solid;
  border-color: #cbced2;
  border-radius: 5px;
}
.card-3 {
  border-width: 1px;
  margin: 2%;
  border-style: solid;
  border-color: #cbced2;
  border-radius: 5px;
}

@media (max-width:991px){
    .card-1{
        width:300px;
        height:300px;
    }
}